.evenement{
	position: relative;
    float: right;
    width: 15%;
    color: #FFFEF4;
    top: 15px;
}
.elementinfo{
	position: relative;
	top: 10px;
	background-color: #1F2124; 
	padding: 1px 20px 15px 15px;
    margin: 5px;
}
.script1{
    width: 33.6%;
    float: left;
    border: 1px solid black;
    margin-left: 450px;
    margin-top: 20px;
}
.actualité{
    text-decoration: none;
    color: #F17F42;
}
.actualité:hover{
    text-decoration: none;
    color: #F6B352;
}
.personnage{
    width: 3.5%;
    float: right;
    margin-right: 20px;
    border: 1px solid white;
    background-color: white;
}
h3{
	text-decoration: underline;
}

