.evenement{
	position: relative;
    float: right;
    max-width: 250px;
    color: #FFFEF4;
    top: 15px;
}
.elementinfo{
	position: relative;
	top: 10px;
	background-color: #1F2124; 
	padding: 1px 20px 15px 15px;
    margin: 5px;
    z-index: 1000;
}
.script1{
    width: 33.6%;
    float: left;
    border: 1px solid black;
    margin-left: 450px;
    margin-top: 20px;
}
.actualité{
    text-decoration: none;
    color: #F17F42;
}
.actualité:hover{
    text-decoration: none;
    color: #F6B352;
}
.personnage{
    width: 3.5%;
    float: right;
    margin-right: 20px;
    border: 1px solid white;
    background-color: white;
}
h3{
	text-decoration: underline;
}
.mainTitle{
	padding: 15px 50px 15px 50px;
	margin: 25px 29.5% 25px 29.5%;
	background-color: white;
	color: black;
	text-align: center;
	border-radius: 5px;
}
.headerAccueil{
    padding-bottom: 70px;
}  
.contenuPage{
	position: relative;
	top: 50px;
}
.sommaire ol li a{
    text-decoration: none;
    font-size: 1.5em;
}
.sommaire ol li a:hover{
    text-decoration: none;
}