body{
    background-color: #FFFEF4;
    background-repeat: no-repeat;
    background-size: cover;
    font-family: monospace;
    position: relative;
}
header{
    border: 1px solid #1F2124;
    background-color: #1F2124;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
}  
a{
    color: #F17F42;   
}
a:hover{
    color: #F6B352;
    font-weight: bold; 
    cursor: pointer;
}
nav ul{
    list-style-type: none;
}
nav ul li{
    float: left;
    width: 25%;
    text-align: center;
    position: relative;
    font-size: 1.3em;
}
nav ul li:hover{

    
}
nav ul li ul li{  
    font-size: 0.75em;
}
nav a{
    text-decoration: none;
    display: block;
    border-bottom: 2px solid transparent;
    padding: 9px 25px 0 0;
    font-size: 1.3em;
}
nav a:visited{
    
}
nav > ul li:hover .sous{
    display: block;
}
.sous li{
    right: 9.65%;
    width: 109.5%;
    text-align: left;
    text-indent: 30px;
}
.sous li:hover{
    box-shadow: 0 1px 5px #383A3F;
}
.sous a{
    padding: 15px;
    border-bottom: none; 
}
.sous a:hover{
    background-color: #383A3F;
}
h1{
    color: black;
    font-size: 2.75em;
}
h2{
    color: #1F2124;
    margin: 30px 0 50px 20px;
    font-size: 2em;
    text-decoration: overline;
}  
h3{
    font-size: 1.25em;
}
.sous{
    display: none;
    box-shadow: 3px 2px 4px #1F2124;
    background-color: #1F2124;
    position: absolute;
    width: 90%;
    z-index: 1000;
    border: 2px solid #F68657;    
}