#descMainTitle{
	padding: 0;
}
.souspartie{
	margin: 50px 30px 30px 30px;
}
.titrepage{
    float: none;
    border-bottom: 4px solid black;
    width: 70%;
    text-align: center
}
.titre{
	padding: 10px 15px 10px 15px;
	font-weight: lighter;
	font-size: 1.5em;
	margin-bottom: 40px;
    color: white;
}
p{
	padding: 10px 20px 0 30px;
}
.page2{
    background-color: white;
    margin: auto;
    margin-bottom: 20px;
    width: 75%;
    border-radius: 7px;
    padding: 5px 0px 5px 0px;
}
.titrepartie{
    background-color: #F68657;
    margin: auto;
    width: 50%;
    text-align: center;
    border-radius: 7px;
}
.partie{
    margin: 20px;
   
}
.souspartie{
    border-left: 4px solid black;
    padding-left: 10px;
}
.lien{
    color: #F17F42;
    text-decoration: none
}