#descMainTitle{
	padding: 0;
}
.souspartie{
	margin: 50px 30px 30px 30px;
}
.titre{
	padding: 10px 15px 10px 15px;
	font-weight: lighter;
	font-size: 1.5em;
	margin-bottom: 40px;
}
p{
	padding: 10px 20px 0 30px;
}