body{
    background-color: #DBDBDB;
    overflow-x: hidden;
    font-family: monospace;
}
header{
    position: relative;
    right: 10px;
    bottom: 15px;
    background-color: white;
    width: 110%;
}  
nav{
	margin-left: 30%;
	padding: 10px 0 20px;
}
nav ul{
    list-style-type: none;
}
nav ul li{
	display: inline-block;
    font-size: 1.5em;
    position: relative;
    margin: 0 5.5% 0 5.5%;
}
nav a{
    color: black;    
    text-decoration: none;
    font-size: 1.3em;
    padding: 2px 7px 5px 7px;
}
nav a:hover{
    font-weight: bold; 
    color: #EF904F;
    text-decoration: none;
    border-top: 5px solid #EF904F;
  	padding-top: 11px; 
}
nav > ul li:hover .sous{
    display: block;
}
.sous li{
	font-size: 0.75em;
}
.sous a{
  
}
.sous a:hover{
    color: #F6B352;
    border-top: none;
}
h1{
    color: black;
    font-size: 2.75em;
    float: left;
    margin-top: 2px;
    margin-left: 20px;
}
h2{
    color: #1F2124;
    margin: 30px 0 50px 20px;
    font-size: 2.25em;
}  
h3{
    font-size: 1.6em;
}
.sous{
    display: none;
    box-shadow: 3px 2px 5px #1F2124;
    background-color: white;
    position: absolute;
    width: 100%;
    z-index: 1000;
    border: 2px solid #F68657;
}
.deroulante > a::after{
    content: "";
    font-size: 12px;
}
p{
    text-indent: 100px;
    font-size: 1.1em;
}
