#etiqlan2{
    float: left;
    width: 295px;
    margin-right: 20px;
}
#momie{
    width: 295px;
    float: left;
    margin-right: 20px;
}
#manga{
    width: 295px;
    margin-right: 20px;
    float: left;
}