@media (min-width: 1880px) {

.bandeGauche{
	margin: 0 250px 0 250px;
}
.bandeDroite{
	padding-right: 140px;
    width: 290px;
}
.corpsPage{
	margin: 30px 100px 0 0;
}
.membre{
    width: 84.35%;
}}


@media (max-width: 1879px) and (min-width: 1750px) {

.bandeGauche{
	margin: 0 250px 0 200px;
}
.bandeDroite{
	padding-right: 120px;
    width: 290px;
}
.corpsPage{
	margin: 30px 100px 0 0;
}
.membre{
    width: 84.5%;
}}


@media (max-width: 1749px) and (min-width: 1610px) {

.bandeGauche{
	margin: 0 220px 0 150px;
}
.bandeDroite{
	padding-right: 80px;
    width: 290px;
}
.corpsPage{
	margin: 30px 100px 0 0;
}
.membre{
    width: 84.6%;
}}


@media (max-width: 1609px) and (min-width: 1480px) {

.bandeGauche{
	margin: 0 220px 0 125px;
}
.bandeDroite{
	padding-right: 80px;
    width: 290px;
}
.corpsPage{
	margin: 30px 50px 0 0;
}
.membre{
    width: 84.6%; 
}}


@media (max-width: 1479px) and (min-width: 1350px) {

.bandeGauche{
	margin: 0 220px 0 100px;
}
.bandeDroite{
	padding-right: 60px;
    width: 290px;
}
.corpsPage{
	margin: 30px 50px 0 0;
}
.membre{
    width: 84.6%;
}}





#carrouselle{
	position: relative;
	bottom: 15px;
	right: 8px;
	background-color: #44546A;
	padding: 400px 105% 0 0;
}


.divActu{
	background-color: white; 
	padding: 1px 0 15px 0;
	margin-bottom: 20px;
}
.actualité{
    text-decoration: none;
    color: #F17F42;
}
.actualité:hover{
    text-decoration: none;
    color: #F6B352;
}


.titre,.titre2{
   background-color: #F68657;
   padding: 4px 7px 4px 7px;
   text-align: center;
   width: 50%;
   font-size: 1.5em;
   font-weight: lighter;
}
.titre2{
   margin-left: 15px;
}


.Presentation{
	position: relative;
    background-color: white;
    width: 82.8%;
    padding: 1px 20px 20px 0;
}
.sousPresentation{
	margin: 25px 10px 30px 30px;
}
.sousSousPresentation{
	margin: 50px 30px 20px 20px;
}
.TitrePresentation{
	color: #FFFEF4;
    text-align: center;
    font-size: 2.25em;
	background-color: #1F2124;
	padding: 40px 0 40px 0;
	font-style: italic;
}
#I,#II{
	text-decoration: overline;
}
h4{
	position: relative;
    text-align: left;
    font-size: 1.35em;
}
.textePresentation{
    border-left: 4px solid #1F2124;
    padding-left: 40px;
}


.divSommaire{
	background-color: white; 
	padding: 1px 20px 1px 15px;
	margin-bottom: 20px;
}
.mainElementSommaire{
	position: relative;
	text-decoration: underline;
	font-weight: bolder;
	font-size: 1.2em;
}
.mainElementSommaire:hover{
	right: 9px;
    padding-left: 5px;
}
.elementSommaire:hover{
	position: relative;
	right: 15px;
    padding-left: 10px;
}
.sousPartieSommaire{
	position: relative;
	left: 10px;
	padding: 5px 0 15px 0;
	display: inline-block;
}
ol{
	position: relative;
	right: 31px;
}
ol li{
	padding: 1px 0 1px 0;
}
ol li a{
    color: black;
    text-decoration: none;
    display: inline-block;
}
ol li a:hover{
    font-weight: bold;
    border-left: 4px solid black;
    right: 24px;
}
.planning{
	width: 100%;
}


.membre{
	position: relative;
	top: 2px;
     
}


.headerAccueil{
	position: relative;
	bottom: 8px;
}
.bandeGauche{
	position: relative;
}
.bandeDroite{
	position: relative;
	float: right;
    width: 290px;
    color: white;
	z-index: 1000;
}
.corpsPage{
	position: absolute;
}


.elementActu{
	position: relative;
	background-color: #1F2124; 
	padding: 1px 20px 15px 20px;
	margin-bottom: 5px; 
}
