body{
    background-color: #DBDBDB;
    overflow-x: hidden;
    font-family: -apple-system, BlinkMacSystemFont, "San Francisco", Helvetica, Arial, sans-serif;;
}

@media (min-width: 1880px) {

header nav{
	margin: 0 5% 0 30%;
	padding: 0 0 9px 0;

}
.bandeFinPage{
    width: 84.35%;
}}

@media (max-width: 1879px) and (min-width: 1750px) {

header nav{
	margin: 0 6% 0 28.5%;
	padding: 0 0 8px 0;
}
.bandeFinPage{
    width: 84.5%;
}}

@media (max-width: 1749px) and (min-width: 1610px) {

header nav{
	margin: 0 7% 0 27%;
	padding: 0 0 7px 0;
}
.bandeFinPage{
    width: 84.6%;
}}

@media (max-width: 1609px) and (min-width: 1480px) {

header nav{
	margin: 0 8% 0 25.5%;
	padding: 0 0 6px 0;
}
.bandeFinPage{
    width: 84.6%;
}}

@media (max-width: 1479px) and (min-width: 1350px) {

header nav{
	margin: 0 9% 0 24%;
	padding: 0 0 5px 0;
}
.bandeFinPage{
    width: 84.6%;
}}	

header{
    position: relative;
    right: 10px;
    bottom: 15px;
    background-color: white;
    width: 105.5%;
    font-family: monospace;
}  
#mainTitle{
	position: relative;
	font-size: 3.5em;
	padding: 10px 20px;
}
#mainTitle,#descMainTitle:hover{
	cursor: default;
}
#descMainTitle{
	position: relative;
	top: 40px;
	right: 100px;
	font-style: italic;
	opacity: 0.75;
}
nav{
	position: relative;
	bottom: 8px;
	margin-left: 30%;
	padding: 0 0 9px 0;
}
nav ul li{
	display: inline-block;
    font-size: 1.5em;
    position: relative;
    margin: 0 5.5% 0 5.5%;
}
nav a{
    color: black;    
    text-decoration: none;
    font-size: 1.3em;
    padding: 2px 7px 5px 7px;
}
nav a:hover{
    font-weight: bold; 
    color: #F68657;
    text-decoration: none;
    border-top: 5px solid #F68657;
  	padding-top: 18px; 
}


nav > ul li:hover .sous{
    display: block;
}
.sous li{
	font-size: 0.75em;
	padding: 15px 0 15px 0;
}
.sous a{
	position: relative;
	right: 25px;
	color: #FFFEF4;
	font-weight: lighter;
}
.sous a:hover{
    color: #F17F42;
    border-top: none;
}
.sous{
    position: absolute;
	display: none;
    background-color: #1F2124;
    z-index: 1000;
}
.deroulante > a::after{
    content: "";
    font-size: 12px;
}


h1{
    color: black;
    font-size: 2.75em;
    float: left;
    margin-top: 2px;
    margin-left: 20px;
}
h2{
    color: #1F2124;
    font-size: 2.25em;
}  
h3{
    font-size: 1.6em;
}
p{
    text-indent: 100px;
    font-size: 1.1em;
}


.bandeFinPage{
    margin-top: 20px;
    background-color: #1F2124;
    padding-top: 70px;
}
.elementBandeFinPage{
    position: relative;
    bottom: 30px;
    right: 20px;
    float: right;
    color: white;
    margin-left: 20px;
    text-decoration: none;
}