body{
    background-color: #DBDBDB;
    overflow-x: hidden;
    font-family: -apple-system, BlinkMacSystemFont, "San Francisco", Helvetica, Arial, sans-serif;  
}

@media (min-width: 1880px) {

header nav{
	margin: 0 5% 0 29.5%;
}
nav ul li{
    margin: 0 5.5% 0 5.5%;
}
.bandeFinPage{
    width: 84.35%;
}}

@media (max-width: 1879px) and (min-width: 1750px) {

header nav{
	margin: 0 6% 0 30.5%;
}
nav ul li{
    margin: 0 5% 0 5%;
}
.bandeFinPage{
    width: 84.5%;
}}

@media (max-width: 1749px) and (min-width: 1610px) {

header nav{
	margin: 0 7% 0 31.5%;
}
nav ul li{
    margin: 0 4.5% 0 4.5%;
}
.bandeFinPage{
    width: 84.65%;
}}

@media (max-width: 1609px) and (min-width: 1480px) {

header nav{
	margin: 0 8% 0 32.5%;
}
nav ul li{
    margin: 0 4% 0 4%;
}
.bandeFinPage{
    width: 84.8%;
}}

@media (max-width: 1479px) and (min-width: 1350px) {

header nav{
	margin: 0 9% 0 33.5%;
}
nav ul li{
    margin: 0 3.5% 0 3.5%;
}
.bandeFinPage{
    width: 84.95%;
}}	

@media (max-width: 1349px) and (min-width: 1220px) {

header nav{
	margin: 0 10% 0 34.5%;
}
nav ul li{
    margin: 0 3% 0 3%;
}
.bandeFinPage{
    width: 85.1%;
}}	

@media (max-width: 1219px) and (min-width: 1090px) {

header nav{
	margin: 0 0% 0 37.5%;
	font-size: 0.85em;
	padding-bottom: 15px;
}
nav ul li{
    margin: 0 2.75% 0 2.75%;
}
.bandeFinPage{
    width: 85.25%;
}}	


header{
    position: relative;
    right: 10px;
    bottom: 17px;
    background-color: white;
    width: 105.5%;
    font-family: monospace;
}  
.logoETIQ{
	position: absolute;
	top: 5px;
	left: 20px;
	width: 70px;
}
#mainTitle{
	position: relative;
	font-size: 3.5em;
	padding: 10px 100px;
}
#mainTitle,#descMainTitle:hover{
	cursor: default;
}
#descMainTitle{
	position: relative;
	top: 40px;
	right: 175px;
	font-style: italic;
	opacity: 0.75;
}
nav{
	padding-bottom: 9px;
}
nav ul li{
    position: relative;
    bottom: 6px;
	display: inline-block;
    font-size: 1.5em;
}
nav a{
    color: black;    
    text-decoration: none;
    font-size: 1.3em;
    padding: 2px 7px 5px 7px;
}
nav a:hover{
    font-weight: bold;
    color: #F68657;
    text-decoration: none;
    border-top: 4px solid #F68657;
  	padding-top: 16px;
}


nav > ul li:hover .sous{
    display: block;
}
.sous li{
	font-size: 0.75em;
	padding: 20px 0 15px 0;
}
.sous a{
	position: relative;
	right: 25px;
	color: #FFFEF4;
	font-weight: lighter;
}
.sous a:hover{
    color: #F17F42;
    border-top: none;
}
.sous{
    position: absolute;
	display: none;
    background-color: #1F2124;
    z-index: 1000;
}
.deroulante > a::after{
    content: "";
    font-size: 12px;
}


h1{
    color: black;
    font-size: 2.75em;
    float: left;
    margin-top: 2px;
    margin-left: 20px;
}
h2{
    color: #1F2124;
    font-size: 2.5em;
    font-family: monospace;
}  
h3{
    font-size: 1.55em;
}
p{
    text-indent: 100px;
    font-size: 1.05em;
}


.bandeFinPage{
    margin-top: 20px;
    background-color: #1F2124;
    padding-top: 70px;
}
.elementBandeFinPage{
    position: relative;
    bottom: 30px;
    right: 20px;
    float: right;
    color: white;
    margin-left: 20px;
    text-decoration: none;
}
.elementBandeFinPage:hover{
	color: #F68657;
}
