#etiqlan2{
    float: left;
    width: 295px;
    margin-right: 20px;
}
#momie{
    width: 295px;
    float: left;
    margin-right: 20px;
}
#manga{
    width: 295px;
    margin-right: 20px;
    float: left;
}

.BoxEvenement{
    background-color: white;
    padding-top: 10px;
    height: 320px;
    padding-left:15px;
    padding-right: 5px;
    border-radius: 5px;
    margin: 30px 100px 0 100px;
}

.texte{
    margin-right: 20px;
    padding-left: 315px;
}
#red{
 color:red;
 
 font-weight: bold;
}
.bandeFinPage{
    margin-left: 100px;
    width: 87.3%;
}