.page{
    margin: 0px  10% 0px 10%;
    background-color: white;
    padding: 20px;
    border: 2px solid black;
    width: 80%;
}


.titremenu{
    position: relative;
    font-weight: bolder;
    background-color: #1F2124;
    border-radius: 3px;
    padding: 20px 40% 20px 40%;
    margin-bottom: 20px;
}
.titremenu a{   
    position: relative;
    color: #FFFEF4;
    text-decoration: none;
    font-size: 2.35em;
    font-family: monospace;
    right: 50%;
}
.titrelien2{
    left: 100%;
}
.titrelien:hover,.titrelien2:hover{ 
    color: #F68657;
}


.menuDiscussion{
    border-radius: 4px;
    border: 3px solid black;
    position: absolute;
    margin-left: 17.5%;
    width: 61.5%;
    height: 1000px;
    background-color: rgb(58, 59, 59);
}
.titreDiscussion{
    position: relative;
    bottom: 26px;
    padding: 13px 0 13.5px 0;
    border-bottom: solid 2px black;
    text-align: center;
    background-color: #FFFEF4;
    color: #1F2124;
    font-style: italic;
    font-size: 2em;
}


.formDiscussion{
    position: relative;
    margin-top: 860px;
    text-align: center;
}
.menuEcriture,.Envoyer{ 
    height: 25px;
    border-radius: 5px;
}
.menuEcriture{
    border: 2px solid black;
    background-color: #1F2124;
    color: #FFFEF4;
    width: 66%;
}
.Envoyer{
    margin-left: 15px;
    text-align: center;
    border: 2px solid black;
    background-color: #1F2124;
    margin-left: 2.5%;
    color: #FFFEF4;
    font-weight: bolder;
    width: 15%;
}
.Envoyer:hover{
    cursor: pointer;
    color: #1F2124;
    background-color: #FFFEF4;
    transition: 250ms;
}


.titreTopic,.titreDiscussion,.titreTopic2{
    font-family: monospace;
}


.menuTopic{
    border: 2px solid black;
    width: 20%;
    height: 1002px;
    text-align: center;  
}
.titreTopic,.titreTopic2{
    padding-bottom: 20px;
    color: black;  
    font-size: 1.65em;
}
.titreTopic{
    text-decoration: overline;
}
.titreTopic2{
    position: relative;
    padding-bottom: 20px;
    border-bottom: solid 2px black; 
}
.Topic a{
    font-size: 1.1em;
    color: black;
    text-decoration: none;
}
.Topic a:hover{
    color: #F68657;
}
.Topic{
    position: relative;
    bottom: 24px;
    font-size: 0.9em;
    border-top: solid 2px black;
    width: 100.3%;
    right: 5px;
    padding-top: 10px;
    margin: 10px 5px 5px 5px;
}


ol{
    list-style: none;
    margin-left: -40px;
}
.participant1,.participant2{
    position: relative;
    bottom: 20px;
    padding: 10px 10px 10px 10px;;
    font-size: 1.1em;
}
.participant1{
    background-color: rgb(20, 20, 20);
    color: #F68657;
}
.participant2{
    background-color : rgb(48, 49, 49);  
    color: white;
}