.FormulaireRejoindre{
    background-color: white;
   background-size: 50%;
    left: 40%;
    border: 1px solid #F17F42;
margin-left: 300px;
margin-right: 300px;
border-radius: 1em;

 
}
.formulaireAdhésion{
    font-size: 1.1em;
    border : 1px solid black;
    height: 75px;
    left: 20%;
    width:  60%;
    position: relative;
    border-radius: 1em;
    text-indent: 10px;
}
h1{
    text-align: center;
}
.case{
    
    
}
.envoyer{
    position: relative;
    left: 20%
}